.header_intro {
    background-color: #99ffeb;
    border-radius: 15px;
    border-width: 10px;
    border-color: #555555;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1.5rem;
}

.contact_info {
    background-color: #99ffeb;
    border-radius: 15px;
    border-width: 10px;
    border-color: #555555;
    margin-top: 75px;
    padding: 3rem;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.header_contact {
    font-weight: bolder;
}

h4 {
    float: left;
    
}
p {
    width: 400px;
}
