.row {
    padding: 20px;
    
}


.tiles {
    width: 100%;
    height: auto;
}

.container {
    align-content: center;
    text-align: center;
}
#icon {
    width: 5%;
    height: auto;
    margin: 10px;
}