<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="Resume website for me" content="">
    <meta name="James Brown">
  
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
    <meta charset="UTF-8">
<body>
    <div id="nav-placeholder"></div>
    <div class="header_intro text-center">
        <h1>Contact Information</h1>
      </div>

      <blockquote class="blockquote text-center contact_info">
          <h3 class="header_contact">James R. E. Brown</h3>
      </br>
          <h4 class="header_contact">Address:</h4>
       
          <p>1005 Lemonwood Avenue.  Bradenton, FL 34207</p>
          <p></p>
          <h4 class="header_contact">Email:</h4>
          <a href="mailto:jamesbrownre1@gmail.com">jamesbrownre1@gmail.com</a>
      </br>
    </br>
          <h4 class="header_contact">Phone:</h4>
          <p>(757) 383-0693<h6>Call or Text</h6></p>
          
          
        </blockquote>
<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/js/navigation.js"></script>   
<script type="text/javascript" src="/js/bootstrap.js"></script>


</body>
</html>