<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="Resume website for me" content="">
    <meta name="James Brown">
  
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/background.css">
</head>
    <meta charset="UTF-8">
<body>
    <div id="nav-placeholder"></div>
 
<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/js/navigation.js"></script>   
<script type="text/javascript" src="/js/bootstrap.js"></script>


</body>
</html>